<div class="pageContent">
    <main class="register w-100 m-auto">
        <div class="row g-5">
            <div class="col-md-12 col-lg-12">
                <h4 class="mb-3">Cadastro de Usuário</h4>
                <form (ngSubmit)="onSubmit()">
                    <div class="row g-3">
                        <div class="col-6">
                            <label for="name" class="form-label">Nome</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="" value=""
                                required [(ngModel)]="user.name">
                        </div>

                        <div class="col-6">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email"
                                placeholder="you@example.com" [(ngModel)]="user.email">
                        </div>

                        <div class="col-6">
                            <label for="username" class="form-label">Usuário</label>
                            <input type="text" name="username" class="form-control" id="username" placeholder=""
                                value="" required [(ngModel)]="user.username">
                        </div>

                        <div class="col-6">
                            <label for="password" class="form-label">Senha</label>
                            <input type="password" name="password" class="form-control" id="password" placeholder=""
                                value="" required [(ngModel)]="user.password">
                        </div>

                        <hr class="my-4">

                        <button class="m-auto w-25 btn btn-dark btn-lg" type="submit">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>